.modal {
    background-color: rgb(5, 197, 5);
    padding: .5rem;
    border-radius: .5rem;
    position: absolute;
    position: fixed;
    top: 2rem;
    top: 20%;

    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%); 
    animation: opacity 4s ease-in-out forwards;
}

.text-modal {
    color: #000;
}

@media (max-width:450px) {
    .modal {
        width: 90%;
    }
}

@keyframes opacity {
    50% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}