.modal {
  background-color: rgb(5, 197, 5);
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  position: fixed;
  top: 20%;
  z-index: 1;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: opacity 6s ease-in-out forwards;
}

.text-modal {
  color: #000;
}

@media (max-width: 450px) {
  .modal {
    width: 90%;
    top: 10%;
  }
}

@keyframes opacity {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
